.blog-item .thumb {
    overflow: hidden;
    border-radius: 16px;
}

.blog-item .thumb img {
    transition: all 0.3s ease-out 0s;
    width: 100%;
}

.blog-item .content {
    padding-top: 20px;
}

.blog-item .content .blog-meta ul {
    list-style-type: none;
}

.blog-item .content .blog-meta ul li {
    display: inline-block;
    font-size: 15px;
    padding-right: 20px;
    position: relative;
    color: black;
}

.blog-item .content .blog-meta ul li a {
    font-weight: 400;
    color: black;
}

.blog-item .content .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 2px;
}

.blog-item .content .title a {
    color: #0e1133;
}

.blog-item .content .title a:hover {
    color: #2b70fa;
}

.blog-item .content>a {
    font-size: 15px;
    font-weight: 600;
    color: #0e1133;
    margin-top: 14px;
}

.blog-item .content>a i {
    padding-left: 6px;
}

.blog-item .content>a:hover {
    color: #2b70fa;
}

.blog-item:hover .thumb img {
    transform: scale(1.1);
}


.blog-item-3 .thumb img {
    width: 100%;
    transition: all linear 0.3s;
}

.blog-item-3 .content {
    padding-right: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog-item-3 .content {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .blog-item-3 .content {
        padding-right: 0;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog-item-3 .content {
        padding-right: 50px;
        margin-top: 0;
    }
}

.blog-item-3 .content .title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog-item-3 .content .title {
        font-size: 18px;
        line-height: 28px;
    }
}

.blog-item-3 .content .title a {
    color: #0e1133;
}

.blog-item-3 .content .title a:hover {
    color: #ff6b58;
}

.blog-item-3 .content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog-item-3 .content ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #505056;
    margin-right: 22px;
}

.blog-item-3 .content ul li i {
    padding-right: 6px;
}

.blog-item-3 .content ul li a {
    color: #505056;
    font-size: 14px;
    font-weight: 400;
}

.blog-item-3:hover .thumb img {
    transform: scale(1.1);
}

.blog-item-3.blog-item-6 .content .title a:hover {
    color: #9b2cfa;
}

.blog-item-3.blog-item-8 {
    background: #fff;
}

.blog-item-3.blog-item-8 .content .title a:hover {
    color: #db0f30;
}
